.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 24px 36px;
  border-bottom: 1px solid #fff;
}
.header_logo {
  max-width: 290px;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__list_item {
  font-size: 24px;
  padding: 15px 24px;
  min-height: 60px;
  border: 1px solid #fff;
  transition: all 0.3s;
}
.header__list_item:hover {
  background-color: #fff;
  color: #000;
}
.header_btn {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  gap: 14px;
  min-height: 60px;
  border: 1px solid #fff;
  padding: 0 5px 0 22px;
  cursor: pointer;
  transition: all 0.3s;
}
.header_activePage {
  background-color: #fff;
  color: #000;
}
.header_btn-icon {
  stroke: #fff;
}
.header_btn:hover {
  background-color: #fff;
  color: #000;
}
.header_btn:hover .header_btn-icon {
  stroke: #000;
}
.modal_wrapper{
  z-index: 50;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(5px);
}

@media (max-width: 1400px){
  .header__list{
    display: none;
  }
}