.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 24px 36px;
}
.header_logo {
  max-width: 290px;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__list_item {
  font-size: 24px;
  padding: 15px 24px;
  min-height: 60px;
  border: 1px solid #fff;
  transition: all .3s;
}
.header__list_item:hover{
  background-color: #fff;
  color: #000;
}
.header_btn{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  gap: 14px;
  min-height: 60px;
  border: 1px solid #fff;
  padding: 0 5px 0 22px;
}