.forms {
  margin-top: 50px;
  margin-bottom: 200px;
}

.forms__title {
  font-size: 128px;
  margin-bottom: 50px;
}

.forms__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  gap: 40px;
}

.forms__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.forms__card-img {
  margin-bottom: 40px;
}

.forms__card-name {
  font-size: 64px;
  font-weight: 300;
  margin-bottom: 45px;
}

.forms__card-sizes {
  display: flex;
  gap: 10px;
  font-size: 32px;
  margin-bottom: 25px;
}

.forms__card-size {
  cursor: pointer;
}

.forms__card-size.active {
  color: #c62828;
}

.forms__card-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.forms__card-price {
  padding: 12px 16px;
  font-size: 32px;
}

.forms__card-btn {
  background-color: #d32f2f;
  color: white;
  font-size: 24px;
  padding: 15px 25px;
  cursor: pointer;
}


.forms__card-btn:hover {
  background-color: #c62828;
}

@media (max-width: 1000px) {
  .forms__cards {
    justify-content: center;
  }

  .forms__title {
    display: flex;
    justify-content: center;
    font-size: 96px;
  }
}

@media (max-width: 768px) {
  .forms__card-info {
    justify-content: space-between;
  }
}

@media (max-width: 560px) {
  .forms__title {
    font-size: 48px;
  }

  .forms__card-name {
    font-size: 40px;
  }

  .forms__card-info {
    justify-content: space-around;
    gap: 10px;
  }
}

@media (max-width: 400px) {
  .forms__card-info {
    justify-content: center;
    gap: 20px;
  }
}