.man__box{
  margin-top: 150px;
  display: flex;
  gap: 20px;
  flex-grow: 1;
  align-items: center;
  flex-wrap: wrap;
}
.man{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  flex-grow: 1;
}
.man>img{
  border-radius: 36px;
}
.man_name{
  font-size: 36px;
  text-align: center;
}
.man_role{
  font-size: 36px;
  text-align: center;
  color: #be0000;
}
@media (max-width: 1024px){
  .man__box{
    width: 100%;
    margin-top: 40px;
    gap: 16px;
  }
  .man>img{
    border-radius: 0px;
    width: 100%;
  }
  .man{
    width: 100%;
    gap: 40px;
  }
  .man_name{
    font-size: 48px;
  }
  .man_role{
    font-size: 48px;
  }
}
@media (max-width: 576px){
  .man{
    gap: 16px;
  }
  .man_name{
    font-size: 36px;
  }
  .man_role{
    font-size: 36px;
  }
}