.players {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.players_btns {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-bottom: 200px;
}
.player_btn {
  font-size: 24px;
  padding: 22px 15px;
  border: 2px solid #fff;
  border-radius: 36px;
  cursor: pointer;
  transition: all 0.3s;
}
.player_btn-active {
  background-color: #fff;
  color: #000;
}
.players__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.player {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
}
.player__info {
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
}
.player__about {
  display: flex;
  width: min-content;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 0;
  max-width: 280px;
}
.player_name {
  font-size: 32px;
}
.player_role {
  font-size: 24px;
  color: #be0000;
}
.palyer_number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 80px;
  height: 80px;
  color: #be0000;
  text-align: center;
}
@media (max-width: 1024px) {
  .players {
    margin-top: 0px;
  }
  .players_btns {
    width: 100%;
    gap: 0px;
    margin-bottom: 80px;
  }
  .player_btn {
    text-align: center;
    width: 50%;
    font-size: 32px;
    padding: 22px 15px;
    border: 2px solid #fff;
    border-radius: 0px;
  }
  .player {
    gap: 16px;
  }
  .player>img{
    width: 100%;
    margin-bottom: 20px;
  }
  .player__info {
    max-width: 100%;
    align-items: center;
  }
  .player__about {
    max-width: auto;
  }
  .player_name {
    font-size: 40px;
    margin-bottom: 16px;
  }
  .player_role {
    font-size: 32px;
  }
  .palyer_number {
    font-size: 64px;
    width: 100px;
    height: 100px;
  }
}
@media(max-width: 576px){
  .players_btns {
    margin-bottom: 40px;
  }
  .player_btn {
    font-size: 16px;
    padding: 15px 15px;
  }
  .player {
    gap: 0px;
  }
  .player>img{
    margin-bottom: 24px;
  }
  .player_name {
    font-size: 30px;
    margin-bottom: 0px;
  }
  .player_role {
    font-size: 24px;
  }
  .palyer_number {
    font-size: 64px;
    width: 80px;
    height: 80px;
  }
}
