.team{
  margin-inline: 100px;
  margin-top: 26px;
  margin-bottom: 150px;
}
.team_bg{
  width: 100%;
}
.team__list{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 150px;
}
.team_item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team_item-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.background-wrapper{
  width: 100%;
  position: relative;
  margin-bottom: 150px;
}
.background_title{
  font-size: 96px;
  position: absolute;
  bottom: 50px;
  left: 30px;
}
.team_item-withLine{
  border-bottom: 1px solid #fff;
}
.team_item-wrapper>img{
  max-width: 48px;
  margin-right: 12px;
}
.team__list_item{
  font-size: 64px;
  margin-bottom: 5px;
}
.team__item_dot{
  transition: all .3s;
}
.open{
  transform: rotate(180deg);
}
@media (max-width: 1024px){
  .team{
    margin-inline: 50px;
    margin-bottom: 80px;
  }
  .background_title{
    font-size: 64px;
    bottom: 20px;
    left: 20px;
  }
  .background-wrapper{
    margin-bottom: 50px;
  }
  .team__list_item{
    font-size: 40px;
    text-wrap: wrap;
    word-break: break-all;
  }
  .team_item-wrapper{
    padding-bottom: 70px;
  }
  .team__list{
    gap: 80px;
  }
}
@media (max-width: 700px){
  .team{
    margin-inline: 10px;
    margin-bottom: 30px;
  }
  .background_title{
    font-size: 32px;
    bottom: 10px;
    left: 10px;
  }
  .team__item_dot{
    width: 22px;
  }
  .team__list{
    gap: 50px;
  }
  .background-wrapper{
    margin-bottom: 40px;
  }
  .team__list_item{
    font-size: 20px;
  }
  .team_item-wrapper{
    padding-bottom: 20px;
  }
}