body {
  font-family: 'Museo Sans Cyrl', 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-width: 100vw;
  color: #fff;
  background-color: #000;
}
.container{
  margin-inline: 50px;
}
@media (max-width: 768px){
  .container{
    margin-inline: 30px;
  }
}