.user__info_container {
  width: 100%;
  margin: 100px 0;
  padding-inline: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  flex-grow: 1;
}
.user__info_title {
  font-size: 24px;
}
.iser__info_input {
  padding: 20px;
  font-size: 22px;
  font-weight: 700;
}
.user__info_inRF {
  display: flex;
  align-items: center;
  gap: 40px;
}
.user__info_btn {
  text-wrap: nowrap;
  margin-top: 30px;
  font-weight: 600;
  font-size: 24px;
  padding: 15px 30px;
  color: #fff;
  background-color: #be0000;
  width: min-content;
}
.user__info_err {
  width: 100%;
  text-align: center;
  font-size: 20px;
  background-color: #be0000;
  padding: 20px 0;
}
.user__info_radio {
  display: flex;
  gap: 150px;
}
.user__info_radio-btn {
  font-size: 36px;
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 1024px) {
  .user__info_radio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 30px 0 50px;
    gap: 50px;
  }
  .user__info_radio-btn {
    font-size: 24px;
    gap: 30px;
  }
  .user__info_container {
    margin: 26px 0;
    padding-inline: 20px;
    gap: 10px;
  }
  .user__info_title {
    font-size: 18px;
  }
  .iser__info_input {
    padding: 6px 12px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .user__info_btn {
    margin-top: 20px;
    font-size: 18px;
    padding: 15px 30px;
  }
}
@media (max-width: 576px) {
  .user__info_radio {
    gap: 40px;
  }
  .user__info_radio-btn {
    font-size: 20px;
    gap: 10px;
  }
  .user__info_container {
    margin: 20px 0;
    padding-inline: 15px;
    gap: 10px;
  }
  .iser__info_input {
    margin-bottom: 10px;
  }
  .user__info_btn {
    margin-top: 10px;
    font-size: 14px;
    padding: 10px 15px;
  }
}
